<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/Contentt/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/fontawesome/all.min.js"></script>
    <link href="~/Contentt/toastr.min.css" rel="stylesheet" />
    <link href="~/Contentt/site.css" rel="stylesheet" />
    <title>@ViewData["Title"] - AgendaEasy</title>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index"><h3>Agenda Easy</h3></a>
                <strong>AEasy</strong>
            </div>

            <ul class="list-unstyled components">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="#consultas" data-toggle="collapse" aria-expanded="false">
                            <i class="far fa-calendar-plus"></i>
                            Consultas
                        </a>

                        <ul class="collapse list-unstyled" id="consultas">
                            <li><a asp-area="" asp-controller="Consultas" asp-action="Index"><i class="fas fa-clipboard-list"></i> Agendar / Visualizar Consultas</a></li>
                        </ul>
                    </li>
                        <li>
                            <div id="submenu">
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                                    <i class="fas fa-plus-circle"></i>
                                    Cadastros
                                </a>

                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                    <li><a asp-area="" asp-controller="Especialidades" asp-action="Index"><i class="fas fa-book-medical"></i> Especialidades</a></li>
                                    <li><a asp-area="" asp-controller="Prontuarios" asp-action="Index"><i class="fas fa-user-circle"></i> Prontuários</a></li>
                                    <li><a asp-area="" asp-controller="Medicos" asp-action="Index"><i class="fas fa-user-md"></i> Médicos</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    <li>
                        <a href="#">
                            <i class="fas fa-headset"></i>
                            Suporte
                        </a>
                        <a href="#">
                            <i class="fas fa-inbox"></i>
                            Sobre
                        </a>
                    </li>
                </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-light navbar-btn">
                            <i class="fas fa-align-left"></i>
                            <span> Menu</span>
                        </button>

                    </div>


                    @await Html.PartialAsync("_LoginPartial")

                </div>
            </nav>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>


    <!-- jQuery CDN -->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>



    @RenderSection("scripts", false)

</body>
</html>